.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
}

.container > div {
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: whitesmoke;
  color: black;
  font-family: 'Fredoka One';
  padding: .75rem;
  font-size: 1rem;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
  color: rgb(89, 89, 89);
  border: 2px solid darkgrey;
}

.btn:disabled {
  color:rgb(220, 220, 220)
}

.beenz:hover {
  transform: scale(1.1);
}

