.container {
  width: 100%;
  display: flex;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
  margin-bottom: 50px;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--border);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

.container label,
.container button {
  width: 100%;
}

.inputContainer {
  width: 100%;
  display: flex;
  margin-bottom: .25rem;
  flex-direction: column;
}

input {
  border: none;
  padding: 12px;
  font-size: 16px;
  resize: vertical;
  border-radius: 5px;
  background: whitesmoke;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
}

label {
  font-size: 16px;
  font-weight: 600;
}

.container button {
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 900;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  background: black;
  border: 1px solid black;
  padding: 10px 24px 10px 24px;
}

.container a button {
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
  text-align: center;
  background: whitesmoke;
  border: 1px solid var(--border);
}

input[type="file"] {
  padding: 0;
  border: none;
  background: none;
  margin-bottom: 24px;
}

input::file-selector-button {
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  padding: 14px 28px;
  margin-right: 28px;
  text-align: center;
  border: 1px solid var(--border);
}